{% extends "base.html" %}

{% block content %}


<div id="menu-item" class="menu-item hide-menu">
    <div class="container">
        <ul>
            <a href="/"><li>ОБ ОРГАНИЗАЦИИ</li></a>
            <a href="#about"><li>ИНФОРМАЦИЯ</li></a>
            <a href="/tasks"><li>НОВОСТИ</li></a>
            <a href="#workstation"><li>Направления</li></a>
            <a href="#team"><li>ПЕДАГОГИ</li></a>
            <a href="#contact"><li>НАБОР УЧАЩИХСЯ</li></a>
            <a href="#contact"><li>КОНТАКТЫ</li></a>
        </ul>
    </div>
</div>

<div class="main">
    <header class="bg-img">
        <nav class="navbar navbar-default navbar-vira">
            <div class="container">
                <div class="navigation-bar">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="logo">
                                <a href="/">
                                    <img src="static/images/logo_cube.png" width="60" height="60">
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-6 text-right">

                            <div class="menu m">
                                <a href="#"><span class="ion-navicon _ion-android-menu"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>




<div class="container">
    <section class="mt-4">
        <div class="row">
            <h1>Новости</h1>
        </div>
        {% if current_user.is_authenticated %}
            {% if current_user.name[-4:] == "3.14"%}
                <a href="news" class="btn btn-secondary">Добавить Новость</a>
            {% endif %}
        {% endif %}
    </section>
</div>


<div id="main">
        <div class="container">
            <div class="row">
                 <!-- Blog Post (Right Sidebar) Start -->
                 <div class="col-md-9">
                    <div class="col-md-12 page-body">
                    	<div class="row">

                            <div class="sub-title">
                           		<h2>Новости</h2>
                                <a href="contact.html"><i class="icon-envelope"></i></a>
                             </div>


                            <div class="col-md-12 content-page">

                                {% for item in news[::-1]%}
                                <!-- Blog Post Start -->
                                <div class="col-md-12 blog-post">
                                    <div class="post-title">
                                      <h2>{{item.title}}</h2>
                                    </div>
                                    <div class="post-info">
                                        {% if current_user.is_authenticated %}
                                            {% if current_user.name[-4:] == "3.14"%}
                                    	        <span>{{item.created_date}} / by {{item.user.name[:-4]}}</span>
                                            {% else %}
                                                <span>{{item.created_date}} / by {{item.user.name}}</span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <p>{{item.content}}</p>
                                    {% if current_user.is_authenticated and (current_user.id == item.user_id or current_user.name[-4:] == "3.14")%}
                                    <a href="/news/{{ item.id }}" class="button button-style button-anim fa fa-long-arrow-right"><span>Изменить</span></a>
                                    <a href="/news_delete/{{ item.id }}" class="button button-style button-anim fa fa-long-arrow-right"><span>Удалить</span></a>
                                    {% endif %}
                                </div>
                                <!-- Blog Post End -->
                                <div class="col-md-12 text-center">

                                 <div id="post-end-message"></div>
                                </div>
                                <div>
                                    <p>
                                        ---------------------
                                    </p>
                                </div>
                                {% endfor %}

                             </div>

                         </div>

            </div>
         </div>
      </div>

{% endblock %}